<div class="container mx-auto mt-4 p-8">


  <h1 class="mb-4 text-center text-3xl font-sans font-bold">About Our Game Clips Sharing Website</h1>
  <p class="mb-4 text-center text-lg font-sans">
    Welcome to the #1 app for watching, clipping, and sharing your awesome 
    moments with friends and the world! </p>

  <p class="mb-4 text-center text-lg font-sans">Our platform is designed to provide everyone
  with the ultimate experience in sharing and discovering clips.</p>

  <h1 class="mb-4 text-center text-3xl font-sans font-bold">Personal Info</h1>
  <p class="mb-4 text-center text-lg font-sans">Name: Ashish Shankar</p>
  <p class="mb-4 text-center text-lg font-sans">Portfolio: <a href="http://ashishsh.pythonanywhere.com/" target="_blank">http://ashishsh.pythonanywhere.com/</a></p>


  <h1 class="mb-4 text-center text-3xl font-sans font-bold">Our Mission</h1>

  <p class="mb-4 text-center text-lg font-sans">At Clips, our mission is to empower everyone to showcase their skills, 
    epic moments, and funny experiences by providing a seamless platform for sharing clips. </p>
  <p class="mb-4 text-center text-lg font-sans">  We believe that everyone deserves a platform to connect with a global community.</p>

  <h1 class="mb-4 text-center text-3xl font-sans font-bold">How It Works</h1>

  <p class="mb-4 text-center text-lg font-sans">With our world-class tools and intuitive interface, sharing your videos has never been easier. </p>
    <p class="mb-4 text-center text-lg font-sans">  Simply create an account, upload your clips, and watch as they come to life in front of a vibrant and 
    engaged community. </p>

  <h1 class="mb-4 text-center text-3xl font-sans font-bold">Technology Stack</h1>

  <p class="mb-4 text-center text-lg font-sans">Our website is built using a powerful combination of 
    technologies to ensure a seamless user experience. We leverage the following technologies:</p>
  <ul class="ml-8 mb-4 text-center text-lg font-sans">
    <li>Angular: The front-end framework that enables interactive and dynamic web pages.</li>
    <li>Firebase: The backend infrastructure that provides secure storage, authentication, and real-time database functionality.</li>
    <li>HTML, CSS, and JavaScript: The building blocks of web development that give life to the user interface and interactivity.</li>
    <li>TypeScript: A statically typed superset of JavaScript that enhances code quality and maintainability.</li>
    <li>Tailwind CSS: A utility-first CSS framework that enables rapid and consistent styling.</li>
  </ul>


  <h1 class="mb-4 text-center text-3xl font-sans font-bold">Contact Us</h1>  
  <p class="mb-4 text-center text-lg font-sans">
    We're excited to have you as part of our community! If you have any questions, 
    feedback, or inquiries, please don't hesitate to reach out to us. 
    You can contact us via the checking out my Portfolio above.
  </p>

  <h1 class="mb-4 text-center text-3xl font-sans font-bold">License</h1>
  <p class="mb-4 text-center text-lg font-sans">
    All rights reserved.
  </p>
  <p class="mb-4 text-center text-lg font-sans"> 
    This project is licensed under the Ashish Shankar.
  </p>  

  
</div>
